/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=greek');

/* BACKGROUND */


body  {
  background: white url("../images/background.png") no-repeat;
  font-family: 'Ubuntu', sans-serif;
  background-repeat: repeat-y;
  padding-bottom: 4rem;
}



.card {
  background-color: rgba(245, 245, 245, 1);
  opacity: .95;
}

.navbar-bg {
  opacity: 0.95;
}

/* SIGN-IN PAGE */

.fullw {
  width : 100%;
}

.padded-card {
  padding-left: 30%;
  padding-right: 30%;
}
.btn-google {
  color : white;
  background-color: #B00020 !important;
  width: 100%;
}

.btn-facebook {
  color : white;
  background-color: #3B5998 !important;
  width: 100%;
}

.hidden {
  display: none !important;
}

/* MOBILE DEVICES */

@media only screen and (max-width: 768px) {
  .padded-card {
    padding-left: 5%;
    padding-right: 5%;

  }

  .col-12 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .full-copyright {
    display: none;
  }

  .hide-small {
    display: none;
  }

}

.search-button {
  width: 85%;
  border-radius: 12px;
}

/* PRODUCT PAGE */

.fullscreen-container {
  width: 100%;
  height: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  padding:0;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 50%;
  margin-left: 0;
  margin-right: 0;
}

.full-card {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.checked {
  color: orange;
}

.medium-badge {
  font-size: 1.3rem !important;
}

.half-pad {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* FOOTER PAGE */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#rating-slider.slider-selection {
  background: #BABABA;
}


/* SEARCH RESULTS */

.intro-text {
  color: white;
  font-size: 1.5rem;
}


.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
}

.search table tr:hover {
    cursor: pointer;
}

.search table tr td.image {
	width: 50px;
}

.search table tr td img {
	width: 50px;
	height: 50px;
}

.search table tr td.rate {
	color: #f39c12;
	line-height: 50px;
}

.search table tr td.price {
	font-size: 1.5em;
	line-height: 50px;
}

.top10p {
  margin-top:10%
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  color: #222222;
}

.starrating > label
{
  color: black; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{
  color: #f39c12 !important;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label
{
  color: #f39c12 !important;
} /* Set yellow color when star hover */



#inventory .card:hover {
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
#inventory .btn-grad {background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%)}
#inventory .btn-grad:hover { background-position: right center; }

/* LOADERS */
.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #428bca; /* Blue */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
  justify-content: center !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
