/* IMPORTS */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/* SIGN-IN PAGE */

.fullw {
  width : 100%;
}

.padded-card {
  padding-left: 30%;
  padding-right: 30%;
}
.btn-google {
  color : white;
  background-color: #B00020 !important;
  width: 100%;
}

.btn-facebook {
  color : white;
  background-color: #3B5998 !important;
  width: 100%;
}

/* MOBILE DEVICES */

@media only screen and (max-width: 768px) {
  .padded-card {
    padding-left: 5%;
    padding-right: 5%;

  }

  .col-12 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .full-copyright {
    display: none;
  }

}

.search-button {
  width: 85%;
  border-radius: 12px;
}

/* PRODUCT PAGE */

.fullscreen-container {
  width: 100%;
  height: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  padding:0;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 50%;
  margin-left: 0;
  margin-right: 0;
}

.full-card {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.checked {
  color: orange;
}

.medium-badge {
  font-size: 1.3rem !important;
}

.half-pad {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* FOOTER PAGE */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#rating-slider.slider-selection {
  background: #BABABA;
}


/* SEARCH RESULTS */

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
}

.search table tr:hover {
    cursor: pointer;
}

.search table tr td.image {
	width: 50px;
}

.search table tr td img {
	width: 50px;
	height: 50px;
}

.search table tr td.rate {
	color: #f39c12;
	line-height: 50px;
}

.search table tr td.price {
	font-size: 1.5em;
	line-height: 50px;
}

.top10p {
  margin-top:10%
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{
  color: #f39c12;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label
{
  color: #f39c12;
} /* Set yellow color when star hover */



#inventory .card:hover {
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}


#inventory .view-btn {
  background-color: #e6de08;
  margin: -25px 0 0 0;
  border-radius: 0 0 0 0;
  font-size: 14px;
  border: #e6de08;
  color: #000;
}


#inventory .btn:hover {
  background-color: #ff4444;
  color: #fff;
  border: 2px solid #ff4444;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
