django
mysqlclient
djangorestframework
social-auth-app-django
Pillow
django-geojson
cryptography
lipsum
osmapi
nominatim
geoip2
geopy
django-el-pagination
markdown
django-filter
requests
selenium
bs4
django-sslserver
