.fullw {
  width : 100%;
}

.padded-card {
  padding-left: 30%;
  padding-right: 30%;
}

.btn-google {
  color : white;
  background-color: #B00020 !important;
}

.btn-facebook {
  color : white;
  background-color: #3B5998 !important;
}

.fullscreen-container {
  width: 100%;
  height: 100%;
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
  padding:0;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 50%;
  margin-left: 0;
  margin-right: 0;
}

.full-card {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.checked {
  color: orange;
}

.medium-badge {
  font-size: 1.3rem !important;
}

.half-pad {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#rating-slider.slider-selection {
  background: #BABABA;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
