{% extends 'layout.html' %}

{% block content %}

<div class="container h-100 d-flex">


  <div class="card my-auto fullw">
    <div class="card-header my-auto text-center">
      <h1>Καταχώρηση Προϊόντος</h1>
    </div>
    <div class="card-body padded-card" style="">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="product_dsr"><i class="fas fa-shopping-basket"></i> &nbsp; Περιγραφή Προϊόντος</label>
          {{ form.description }}

        </div>
        <div class="form-group">
          <label for="price"><i class="fas fa-euro-sign"></i> &nbsp; Τιμή</label>
          {% if form.price.errors %}
          <div class="alert alert-danger">
              <strong>{{ form.price.errors  | striptags}}</strong>
          </div>
          {% endif %}
          {{ form.price }}
        </div>
        <div class="form-group">
          <label for="location"><i class="fas fa-globe-americas"></i>&nbsp; Τοποθεσία</label>
          {% if form.new_location.errors %}
          <div class="alert alert-danger">
              <strong>{{ form.new_location.errors  | striptags}}</strong>
          </div>
          {% endif %}
          {{ form.location }}
          {{ form.new_location }}
        </div>

        <div class="form-group">
          <label for="category"><i class="fas fa-shopping-cart"></i>&nbsp; Κατηγορία</label>
          {{ form.category }}
        </div>


        <div class="form-group">
          <label for="new-pwd"><a href="your link here"><i class="fas fa-camera"></i> </a> &nbsp; Τραβήξτε Φωτογραφία (προαιρετικά)</label>
          {{ form.image }}
        </div>


        <div class="form-group text-center fullw">
          <button type="submit" class="btn btn-default fullw"><i class="far fa-save"></i> &nbsp; Υποβολή Καταχώρησης</button>
        </div>

        <hr>
    </form>

  </div>
</div>

</div>


{% endblock %}
