{% extends 'layout.html' %}

{% block content %}


<div class="container h-100 d-flex">
  <div class="container align-self-center">
    <br/>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">

            <div class="col-12 col-lg-8 my-auto py-auto">
              <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Ρώτα με ό,τι θες...">
            </div>
            <div class="col-6 col-lg-2 text-center">
              <button class="btn btn-lg btn-success search-button" type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-6 col-lg-2 text-center">
              <button class="btn btn-lg btn-success search-button" type="submit"><i class="fas fa-camera"></i></button>
            </div>
          </div>
        </form>
        <div class="text-center">
          <p>Βρες τις καλύτερες προσφορές online μόνο στο cheapies.gr!</p>

        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
