{% extends 'layout.html' %}

{% block content %}


<div class="container h-100 d-flex">
  <div class="container align-self-center">
    <br/>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>&nbsp;
            </div>

            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Ρώτα με ό,τι θες...">
            </div>
            <div class="col-auto">
              <button class="btn btn-lg btn-success" type="submit">Αναζήτηση Προσφορών</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
