{% extends 'layout.html' %}

{% block content %}
{% load static %}

<div class="container h-100 d-flex">
  <div class="container align-self-center">
    <br/>
    <div class="row justify-content-center">

      <div class="wow bounceInLeft col-12 text-center intro-text">
        <img src="{% static 'images/logo.svg' %}" onerror="this.src='{% static 'images/logo.png' %}'" width="80%">
        <br/>
        <br/>
        <p>Βρες τις καλύτερες προσφορές online μόνο στο cheapies.gr!</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm rounded" method="POST" action="/search" id="search-form">
          <div class="card-body row no-gutters align-items-center">

            <div class="col-12 col-lg-8 my-auto py-auto">
              <input class="form-control form-control-lg form-control-borderless" type="search" name="search" id="search" placeholder="Ρώτα με ό,τι θες..." required>
            </div>

            <div class="hidden">
              <input type="text" type="hidden" name="lat" id="lat">
              <input type="text" type="hidden" name="lon" id="lon">
            </div>

            <div class="col-3 col-lg-2 text-center">
              <button class="btn btn-lg btn-primary search-button" type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-3 col-lg-2 text-center">
              <button class="btn btn-lg btn-primary search-button" type="button" onclick="recognizeSpeech()"><i class="fas fa-microphone"></i></button>
            </div>


          </div>
        </form>

      </div>
    </div>
  </div>
</div>


{% load static %}
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}
