<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/signin">Σύνδεση</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/signup">Εγγραφή</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/profile">Το προφίλ μου</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/newproduct1">Προσθήκη προϊόντος</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Κατηγορίες
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>

    {% if request.get_full_path != '/' %}

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Αναζήτηση" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button> &nbsp;
      <button class="btn btn-primary my-2 my-sm-0" type="submit-camera"><i class="fas fa-camera"></i></button>
    </form>

    {% endif %}

  </div>
</nav>
