{% extends 'layout.html' %}

{% block content %}
<div class="container h-100 d-flex">

  <div class="card my-auto fullw">
    <div class="card-header my-auto text-center">
      <h1>Παρακαλώ επιλέξτε κάποια κατηγορία</h1>
    </div>
		<div class="container-fluid" id="inventory">
	<!-- Inventory - START -->
		<br/>
		<br/>
    	<div class="row">
        	<div class="col-md-3">
            	<div class="card">
                    	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201708/1821/3132/6f5c6e85-61ac-41bf-abc9-03cff546f5dd.jpg?w=400" alt="Card image cap">
											<a href="./newproduct2" class="btn btn-grad">SEDAN</a>
            	</div>
        	</div>
        	<div class="col-md-3">
            	<div class="card">
                	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201802/0121/3143/21d0f107-e2f7-4fa8-b810-9ff140630f24.jpg?w=400" alt="Card image cap">
									<a href="./newproduct2" class="btn btn-grad">SUV</a>
            	</div>
        	</div>
        	<div class="col-md-3">
            	<div class="card">
                	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201801/1021/3340/a76ba07f-1528-4071-a048-a0b5878c14e3.jpg?w=400" alt="Card image cap">
									<a href="./newproduct2" class="btn btn-grad">TRUCK</a>
	            </div>
        	</div>
        	<div class="col-md-3">
            	<div class="card">
                	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201611/1621/3305/850131da-6165-4cd5-9acc-7fcad9667f6a.jpg?w=400" alt="Card image cap">
									<a href="./newproduct2" class="btn btn-grad">HATCHBACK</a>
            	</div>
        	</div>
    	</div>
    	<div class="row mt-5">
        	<div class="col-md-3">
            	<div class="card">
                	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201712/2921/3124/0216f098-8842-48dc-ae3d-5eb316f0b135.jpg?w=400" alt="Card image cap">
									<a href="./newproduct2" class="btn btn-grad">WAGON</a>
            	</div>
        	</div>
        	<div class="col-md-3">
            	<div class="card">
                	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201807/0421/3454/b95885c9-17d2-4d72-b8e9-b35636874b2b.jpg?w=400" alt="Card image cap">
									<a href="./newproduct2" class="btn btn-grad">Coupe</a>
            	</div>
        	</div>
        	<div class="col-md-3">
            	<div class="card">
                	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201711/2121/3221/bd2b1067-0cf0-4f99-9b38-7ddabe7378de.jpg?w=400" alt="Card image cap">
									<a href="./newproduct2" class="btn btn-grad">CONVERTIBLE</a>
            	</div>
        	</div>
        	<div class="col-md-3">
            	<div class="card">
                	<img class="img-fluid" src="http://az413908.vo.msecnd.net/99/photos/201809/2121/3627/2e41e90c-377b-430e-92ed-5db9b1331f19.jpg?w=400" alt="Card image cap">
									<a href="./newproduct2" class="btn btn-grad">MINIVAN</a>
            	</div>
        	</div>
    	</div>
			<br/>
			<br/>
		</div>
	</div>
<!-- Inventory - END -->
</div>
{% endblock %}
