{% extends 'layout.html' %}

{% block content %}



<div class="container-fluid fullscreen-container">
  <div class="row">
    <div class="col-12 col-lg-6">

      <div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">



        <div class="card">
          <div class="card-body">

            <div class="gallery text-center">
              {% load static %}

              <img style="width: 50%;" src="{% static "" %}{{ product.image_url }}"></img>
            </div>

            <div class="row text-center">
              <div class="col-12 col-lg-12">
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ favform }}
                  </div>

                  <div class="form-group text-center fullw">
                    <button class="btn btn-link" type="submit" name="add_to_fav" value="add_to_fav"><i class="fas fa-heart"></i> &nbsp; Προσθήκη στα αγαπημένα</button>
                  </div>
                </form>
                <div class="text-center">
                <a href="/report/?productId={{ product.id }}"><i class="fas fa-flag"></i> &nbsp; Αναφορά Προϊόντος</a>
              </div>
              </div>
            </div>


            <h4>Χαρακτηριστικά</h4>
            <h5>
              Όνομα προϊόντος
            </h5>
            <p>
              {{ product.name }}
            </p>
            <h5>
              Περιγραφή προιόντος
            </h5>
            <p>
              {{ product.product_description }}
            </p>
            <h5>
              Ημερομηνία Πρώτης Καταχώρησης:
            </h5>
            <p>
              {{ product.date_of_registration }}
            </p>
            <h5>
              Μέση Βαθμολογία
            </h5>
            <p>
              {{ product.stars }} <span class="fas fa-star checked"></span>
            </p>



          </div>
        </div>
      </div>



    </div>
    <div class="col-12 col-lg-6">
      <div class="container" style="padding-top: 2rem; padding-bottom: 2rem; height: 100%">
        <div class="full-card">
          <div id='map'>
            <script>
              var cl_lat = parseFloat('{{ lat }}'.replace(',', '.'));
              var cl_lon = parseFloat('{{ lon }}'.replace(',', '.'));
              var map = L.map('map').setView([cl_lat , cl_lon], 13);

              {% for price in product.prices %}
                  var plat = parseFloat('{{ price.shop.location.y }}'.replace(',', '.'));
                  var plon = parseFloat('{{ price.shop.location.x }}'.replace(',', '.'));
                  var price = '{{ price.price }}';
                  var shop = '{{ price.shop.name }}';
                  L.marker([plat, plon]).addTo(map)
                    .bindPopup(shop + '\n' + price + ' \u20AC')
                    .openPopup();
                {% endfor %}

              L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
              }).addTo(map);

              L.marker([cl_lat, cl_lon]).addTo(map)
                .bindPopup('Η τοποθεσία σας')
                .openPopup();



            </script>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Prices -->
  <div class="row" style="padding-bottom: 3rem;">
    <div class="col-12">
      <div class="container-fluid">
        <div class="card my-auto fullw">
        <table class="table table-hover">
          <tbody>
            {% for price in product.prices %}
            <tr>
              <td class="price text-right"> Κατάστημα: {{ price.shop.name }}</td>
              <td class="price text-right"> Διεύθυνση: {{ price.shop.address }}</td>
              <td class="price text-right"> Τιμή: {{ price.price }}&euro;</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center"><a href="/addprice/?productId={{ product.id }}">Προσθήκη νέας τιμής</a></div>
        </div>
      </div>
    </div>
  </div>


  <!-- REVIEWS AND QUESTIONS -->

  <div class="row"  style="padding-bottom: 6rem;">
    <div class="col col-12">
    <div class="container-fluid d-flex">

      <div class="card my-auto fullw">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Κριτικές</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="questions-tab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">Ερωτήσεις</a>
            </li>

          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <!-- Reviews -->

              <div class="container">

                <h2>Αξιολογήσεις Προϊόντος</h2>

                <blockquote class="blockquote">
                  <p class="mb-0">Γράψτε την κριτική σας</p>
                </blockquote>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.rate_explanation }}
                  </div>

                  <div class="form-group row">
                    <div class="col-auto">
                      {{ form.stars }}

                    </div>

                    <div class="col">
                      <button type="submit" class="btn btn-default fullw"><i class="fas fa-comment"></i> &nbsp; Δημοσίευση Κριτικής</button>
                    </div>
                  </div>
                </form>

                <blockquote class="blockquote">
                  <p class="mb-0">Δείτε τι έγραψαν άλλοι χρήστες για αυτό το προϊόν</p>
                </blockquote>

                {% for rating in product.ratings %}
                <div class="card" style="padding-bottom: 1.5rem;">
                  <div class="card-body">
                    <h5 class="card-title">
                    </h5>
                    <span class="heading">Αξιολόγηση Χρήστη</span>
                    {% for s in rating.rating_range %}
                      <span class="fas fa-star checked"></span>
                    {% endfor %}
                    {% for s in rating.rating_range_inv %}
                      <span class="far fa-star"></span>
                    {% endfor %}
                    <h6 class="card-subtitle mb-2 text-muted">από {{ rating.volunteer.first_name }} {{ rating.volunteer.last_name }}</h6>
                    <p class="card-text">{{ rating.rate_explanation }}</p>

                  </div>
                </div>
                {% endfor %}

              </div>


            </div>
            <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="questions-tab">
              <!-- Questions -->

              <div class="container">
                <h2>Ερωτήσεις για το προϊόν</h2>

                <blockquote class="blockquote">
                  <p class="mb-0">Ρωτήστε κάτι για αυτό το προϊόν</p>
                </blockquote>

                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ qform.question }}
                  </div>

                  <div class="form-group text-center fullw">
                    <button type="submit" class="btn btn-default fullw"><i class="fas fa-pen"></i> &nbsp; Δημοσίευση ερώτησης</button>
                  </div>
                </form>

                <blockquote class="blockquote">
                  <p class="mb-0">Δείτε τι ρώτησαν άλλοι χρήστες για αυτό το προϊόν</p>
                </blockquote>

                {% for question in product.questions %}
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">{{ question }}</p>

                    <div class="container">
                      <div class="row">
                        <div class="col">


                        </div>


                      </div>
                    </div>

                    <div class="container">
                      <div class="row" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                        <div class="col col-12">

                        <a href="/answer/?productId={{ product.id }}&questionId={{ question.id }}">Δημοσίευση Απάντησης</a>

                    </div>
                    </div>


                      <div class="row" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                        <div class="col-12 text-center">
                          <a href="javascript:toggleAnswers()" class="card-link"><i class="fas fa-caret-down"></i> &nbsp; Δείτε τις {{ question.answers | length }} απαντήσεις</a>
                        </div>

                      </div>
                    </div>
                    <div class="container" id="collapse" style="display: none;">
                      {% for answer in question.answers %}

                      <div class="row half-pad">
                        <div class="container">
                          <div class="card card-body card-text text-justify">
                            <div class="row half-pad">
                              <div class="col">
                                {{ answer }}
                              </div>
                            </div>
                            <div class="row half-pad">
                              <div class="col-12 col-12 text-center">
                                <button type="button" class="btn btn-primary">
                                  από {{ answer.volunteer.first_name }} {{ answer.volunteer.last_name }}
                                </button>
                              </div>


                            </div>
                          </div>

                        </div>
                      </div>

                      {% endfor %}


                    </div>


                  </div>
                  <div class="card-footer text-muted">
                    <div class="container">
                      <div class="row">
                        <div class="col-6 col-lg-4 text-center text-lg-left">
                          <button type="button" class="btn btn-primary">
                            {{ question.volunteer.first_name }} {{ question.volunteer.last_name }}
                            <span class="sr-only"></span>
                          </button>
                        </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>


            </div>
          </div>
        </div>


      </div>

    </div>
  </div>



  </div>

  </div>
</div>


{% load static %}
<script src="{% static 'js/product.js' %}"></script>

{% endblock %}
