{% extends 'layout.html' %}

{% block content %}

<div class="container h-100 d-flex">


  <div class="card my-auto fullw">
    <div class="card-header my-auto text-center">
      <h1>Το προφίλ μου</h1>
    </div>
    <div class="card-body padded-card" style="">
      <form method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="user"><i class="fas fa-at"></i>&nbsp; Όνομα Χρήστη</label>
            <br>
            {% if form.user.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.user.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.user }}
          </div>
        </div>
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="old_password"><i class="fas fa-unlock"></i> &nbsp; Παλαιός Κωδικός Πρόσβασης</label>
            <br>
            {% if form.old_password.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.old_password.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.old_password }}
          </div>
        </div>
        <hr>
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="new_password"><i class="fas fa-key"></i> &nbsp; Νέος Κωδικός Πρόσβασης</label>
            <br>
            {% if form.new_password_repeat.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.new_password_repeat.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.new_password }}
          </div>
          <div class="form-group">
            {{ form.new_password_repeat }}
          </div>
          <b><p id="password-strength-text"></p></b>

        </div>


        <div class="form-group text-center fullw">
          <button type="submit" class="btn btn-default fullw"><i class="far fa-save"></i> &nbsp; Αποθήκευση αλλαγών</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container d-flex">

  <div class="card my-auto fullw">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="true">Τα προϊόντα μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="questions-tab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">Οι ερωτήσεις μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="answers-tab" data-toggle="tab" href="#answers" role="tab" aria-controls="answers-tab" aria-selected="false">Οι απαντήσεις μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites-tab" aria-selected="false">Τα αγαπημένα μου</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
    </div>


  </div>

</div>


{% load static %}
<script src="{% static 'js/signup.js' %}"></script>

{% endblock %}
