{% extends 'layout.html' %}

{% block content %}

<div class="container h-100 d-flex">
  <div class="card my-auto fullw">
    <div class="card-header my-auto text-center">
      <h1>Το προφίλ μου - {{ user }}</h1>
    </div>
    <div class="card-body padded-card" style="">
      <form method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="old_password"><i class="fas fa-unlock"></i> &nbsp; Παλαιός Κωδικός Πρόσβασης</label>
            <br>
            {% if form.old_password.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.old_password.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.old_password }}
          </div>
        </div>
        <hr>
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="new_password"><i class="fas fa-key"></i> &nbsp; Νέος Κωδικός Πρόσβασης</label>
            <br>
            {% if form.new_password_repeat.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.new_password_repeat.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.new_password }}
          </div>
          <div class="form-group">
            {{ form.new_password_repeat }}
          </div>
          <b><p id="password-strength-text"></p></b>
        </div>
        <div class="form-group text-center fullw">
          <button type="submit" class="btn btn-default fullw"><i class="far fa-save"></i> &nbsp; Αποθήκευση αλλαγών</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container d-flex">
  <div class="card my-auto fullw">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="true">Τα προϊόντα μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="questions-tab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">Οι ερωτήσεις μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="answers-tab" data-toggle="tab" href="#answers" role="tab" aria-controls="answers" aria-selected="false">Οι απαντήσεις μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">Τα αγαπημένα μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="prices-tab" data-toggle="tab" href="#prices" role="tab" aria-controls="prices" aria-selected="false">Οι τιμές μου</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">




        <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
          <div class="container">
            {% for p in products %}
            <div class="card" style="padding-bottom: 1.5rem;">
              <div class="card-body">
                <div class="gallery text-center">
                  <a href='/product/?productId={{ p.registration.id }}'>
                    {% if p.registration.image_url != '' %}
                      {% load static %}
                      <td class="image"><img style="width: 30%;" src="{% static '' %}{{ p.registration.image_url }}"></td>
                    {% else %}
                      <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                    {% endif %}
                  </a>
                </div>
                <div class="card-text" style="padding-top: 1rem;">
                  <div class="text center">
                    {{ p.registration.name }}
                  </div>
                </div>
                <a class="text-center" href="/updateproduct/?productId={{ p.registration.id }}"><i class="fas fa-pencil"></i>Επεξεργασία Καταχώρησης</button>

              </div>
            </div>
            {% endfor %}
          </div>
        </div>


        <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="questions-tab">
          <div class="container">
            {% for q in questions %}
            <div class="card" style="padding-bottom: 1.5rem;">
              <div class="card-body">
                <div class="gallery text-center">
                  <a href='/product/?productId={{ q.registration.id }}'>
                    {% if q.registration.image_url != '' %}
                      {% load static %}
                      <td class="image"><img style="width: 30%;" src="{% static '' %}{{ q.registration.image_url }}"></td>
                    {% else %}
                      <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                    {% endif %}
                  </a>
                </div>
                <div class="card-text" style="padding-top: 1rem;">
                  <div class="text center">
                    <b> Q: {{ q.question_text }} </b>
                    {% for a in q.answers %}
                      <p> <font color="green">A : {{ a.answer_text }} </font></p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>




        <div class="tab-pane fade" id="answers" role="tabpanel" aria-labelledby="answers-tab">
          <div class="container">
            {% for ans in answers %}
            <div class="card" style="padding-bottom: 1.5rem;">
              <div class="card-body">
                <div class="gallery text-center">
                  <a href='/product/?productId={{ ans.question.registration.id }}'>
                    {% if ans.question.registration.image_url != '' %}
                      {% load static %}
                      <td class="image"><img style="width: 30%;" src="{% static '' %}{{ ans.question.registration.image_url }}"></td>
                    {% else %}
                      <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                    {% endif %}
                  </a>
                </div>
                <div class="card-text" style="padding-top: 1rem;">
                  <div class="text center">
                    Q: {{ ans.question.question_text }}
                    <p><b>A: {{ ans.answer_text }} </b></p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorite-tab">
          <div class="container">
            {% for fav in favorites %}
            <div class="card" style="padding-bottom: 1.5rem;">
              <div class="card-body">
                <div class="gallery text-center">
                  <a href='/product/?productId={{ fav.registration.id }}'>
                    {% if fav.registration.image_url != '' %}
                      {% load static %}
                      <td class="image"><img style="width: 30%;" src="{% static '' %}{{ fav.registration.image_url }}"></td>
                    {% else %}
                      <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                    {% endif %}
                  </a>
                </div>
                <div class="card-text" style="padding-top: 1rem;">
                  <div class="text center">
                    {{ fav.registration.product_description}}
                  </div>
                </div>
                    <a class="text-center" href="/removeFavorite/?favId={{ fav.id }}"><i class="fas fa-trash-alt"></i> &nbsp; Κατάργηση από τα αγαπημένα</button>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">
          <div class="container">
            {% for price in prices %}
            <div class="card" style="padding-bottom: 1.5rem;">
              <div class="card-body">
                <div class="gallery text-center">
                  <a href='/product/?productId={{ price.registration.id }}'>
                    {% if price.registration.image_url != '' %}
                      {% load static %}
                      <td class="image"><img style="width: 30%;" src="{% static '' %}{{ price.registration.image_url }}"></td>
                    {% else %}
                      <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                    {% endif %}
                  </a>
                </div>
                <div class="card-text" style="padding-top: 1rem;">
                  <div class="text center">
                    Τιμή: {{ price.price }} &euro;
                  </div>
                </div>
                    <a class="text-center" href="/updateprice/?priceId={{ price.id }}"><i class="fas fa-pencil"></i>Επεξεργασία Τιμής</button>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


{% load static %}
<script src="{% static 'js/signup.js' %}"></script>

{% endblock %}
