{% extends 'layout.html' %}

{% block content %}


<div class="container">
	<div class="row pt-5 pb-5">
		<!-- BEGIN SEARCH RESULT -->
		<div class="col-md-12">
			<div class="grid search">
				<div class="grid-body">
					<div class="row">
						<!-- BEGIN FILTERS -->
						<div class="col-md-3">
							<h5 class="grid-title"><i class="fa fa-filter"></i> Φίλτρα</h5>


							<form method="POST" action="/search">
								  <div class="form-group">
								    <label for="rmin"><i class="fas fa-star"></i> &nbsp; Ελάχιστα αστέρια</label>
								    <input type="text" class="form-control" name="rmin" placeholder="Από 1 ως 5 αστέρια">
								  </div>
									<div class="form-group">
								    <label for="pmin"><i class="fas fa-euro-sign"></i> &nbsp; Ελάχιστη τιμή πώλησης</label>
								    <input type="text" class="form-control" name="pmin" placeholder="Δώστε ελάχιστη τιμή">
								  </div>
									<div class="form-group">
								    <label for="pmax"><i class="fas fa-euro-sign"></i> &nbsp; Μέγιστη τιμή πώλησης</label>
								    <input type="text" class="form-control" name="pmax" placeholder="Δώστε μέγιστη τιμή πώλησης">
								  </div>

									<div class="form-group">
								    <label for="dmax"><i class="fas fa-map"></i> &nbsp; Μέγιστη απόσταση (km)</label>
								    <input type="text" class="form-control" name="dmax" id="dmax" placeholder="Δώστε μέγιστη απόσταση">
								  </div>

									<div class="hidden">
								    <input type="text" type="hidden" name="lat" id="lat">
								    <input type="text" type="hidden" name="lon" id="lon">
									</div>

									<div class="form-group">
										<label for="search"><i class="fas fa-pen"></i> &nbsp; Περιέχει τις λέξεις</label>
										<input type="text" class="form-control" name="search" value="{{ search_text }}">
									</div>

									<div class="form-group">
									  <label for="sel1"><i class="fa fa-utensils"></i> &nbsp; Επιλέξτε Κατηγορία</label>
									  <select class="form-control" id="category-select" name="category-select">
									    <option>Όλες</option>
											  {% for c in request.session.categories %}
							            <option>{{ c.category_description }}</option>
							          {% endfor %}

									  </select>
									</div>

									<div class="form-group">
										<label for="order"><i class="fas fa-sort"></i> &nbsp; Ταξινόμηση ως προς</label>

										<div class="form-check">
										  <input class="form-check-input" type="radio" name="orderby" id="price" value="price" checked>
										  <label class="form-check-label" for="exampleRadios1">
											</i> &nbsp; Τιμή
										  </label>
										</div>
										<div class="form-check">
										  <input class="form-check-input" type="radio" name="orderby" id="rating" value="rating">
										  <label class="form-check-label" for="exampleRadios2">
												<i class="fa fa-star"></i> &nbsp; Αστέρια
										  </label>
										</div>
										<div class="form-check">
										  <input class="form-check-input" type="radio" name="orderby" id="distance" value="distance">
										  <label class="form-check-label" for="exampleRadios3">
												<i class="fa fa-road"></i> &nbsp; Απόσταση
										  </label>
										</div>
									</div>

									<hr>
									<div class="text-center">
									  <button type="submit" class="btn btn-primary fullw">Ψάξε ξανά</button>
									</div>
								</form>



						</div>
						<!-- END FILTERS -->


						<!-- BEGIN RESULT -->
						<div class="col-md-9">
							<h2><i class="fa fa-file-o"></i> Αποτελέσματα Αναζήτησης</h2>
							<hr>
							<p>Αποτελέσματα για "{{ search_text }}"</p>

							<div class="padding"></div>

							<div class="row pb-2" >


							<!-- BEGIN TABLE RESULT -->
							<div class="table-responsive">
								<table class="table table-hover">
									<tbody>
										{% for result in results %}
										<tr>
										<td class="number text-center">{{ forloop.counter }}</td>
										{% if result.0.image %}
											<td class="image"><img src="{{ result.image.url }}" alt=""></td>
										{% else %}
											<td class="image"><img src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
										{% endif %}
										<td class="product text-justify">
											<span>{{ result.0.product_description }}</span>
											<span>{{ result.0.shop.address }}</span>
										</td>

										<td class="rate text-right">
										<span>
												{{ result.0.stars | floatformat:-2 }}
													<i class="fa fa-star"></i>
										</span></td>
										<td class="price text-right">{{ result.1 | floatformat:-2 }} km</td>
										<td class="price text-right">{{ result.0.price }} &euro;</td>
									</tr>
									{% endfor %}
								</tbody></table>
							</div>
							<!-- END TABLE RESULT -->


						</div>
						<!-- END RESULT -->
					</div>
				</div>
			</div>
		</div>
		<!-- END SEARCH RESULT -->
	</div>
</div>

{% load static %}
<script src="{% static 'js/search.js' %}"></script>


{% endblock %}
