{% extends 'layout.html' %}

{% block content %}


<div class="container">
	<div class="row pt-5 pb-5">
		<!-- BEGIN SEARCH RESULT -->
		<div class="col-md-12">
			<div class="grid search">
				<div class="grid-body">
					<div class="row">
						<!-- BEGIN FILTERS -->
						<div class="col-md-3">
							<h2 class="grid-title"><i class="fa fa-filter"></i> Φίλτρα</h2>
							<hr>

							<!-- BEGIN FILTER BY DISTANCE -->
							<h4><i class="fas fa-globe-africa"></i> Απόσταση</h4>
							<div class="col-auto">

								<input id="rating-slider" data-slider-id='rating-slider' type="text" data-slider-min="0.1" data-slider-max="50" data-slider-step="0.1" data-slider-value="3"/>
								<script>
								$('#rating-slider').slider({
									formatter: function(value) {
										return 'Τρέχουσα Απόσταση: ' + value + ' χλμ';
									}
								});
								</script>
							</div>
							<!-- END FILTER BY DISTANCE -->

							<div class="row top10p"></div>

							<!-- BEGIN FILTER BY RATING -->
							<h4><i class="fas fa-star"></i> Κριτικές</h4>

							<div class="container">
								<div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
									<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
									<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
									<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
									<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
									<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
								</div>
							</div>


							<!-- END FILTER BY RATING -->

							<div class="row top10p"></div>


							<!-- BEGIN FILTER BY PRICE -->
							<h4><i class="fas fa-euro-sign"></i> Τιμή</h4>
							<input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="1000" data-slider-step="1" data-slider-value="[250,450]"/>
							<script>
							$("#ex2").slider({});
							</script>

							<!-- END FILTER BY PRICE -->
						</div>
						<!-- END FILTERS -->


						<!-- BEGIN RESULT -->
						<div class="col-md-9">
							<h2><i class="fa fa-file-o"></i> Αποτελέσματα Αναζήτησης</h2>
							<hr>
							<p>Αποτελέσματα για "{{ search_text }}"</p>

							<div class="padding"></div>

							<div class="row pb-2" >
								<!-- BEGIN ORDER RESULT -->
								<div class="col-sm-6">

									<div class="dropdown">
										<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Ταξινόμηση κατά
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#">Τιμή</a>
											<a class="dropdown-item" href="#">Δημοτικότητα</a>
											<a class="dropdown-item" href="#">Απόσταση</a>
										</div>
									</div>
									<script>
									$('.dropdown-toggle').dropdown();
									</script>

								</div>
								<!-- END ORDER RESULT -->


								<div class="col-md-6 text-right">
									<div class="btn-group">
										<button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
										<button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
									</div>
								</div>
							</div>

							<!-- BEGIN TABLE RESULT -->
							<div class="table-responsive">
								<table class="table table-hover">
									<tbody>
										{% for result in results %}
										<tr>
										<td class="number text-center">{{ forloop.counter }}</td>
										{% if result.0.image %}
											<td class="image"><img src="{{ result.image.url }}" alt=""></td>
										{% else %}
											<td class="image"><img src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
										{% endif %}
										<td class="product text-justify">
											<span>{{ result.0.product_description }}</span></td>
										<td class="rate text-right">
										<span>
												{{ result.0.stars | floatformat:-2 }}
													<i class="fa fa-star"></i>
										</span></td>
										<td class="price text-right">{{ result.1 | floatformat:-2 }} km</td>
										<td class="price text-right">{{ result.0.price }} &euro;</td>
									</tr>
									{% endfor %}
								</tbody></table>
							</div>
							<!-- END TABLE RESULT -->


						</div>
						<!-- END RESULT -->
					</div>
				</div>
			</div>
		</div>
		<!-- END SEARCH RESULT -->
	</div>
</div>
{% endblock %}
