
{% extends 'layout.html' %}
{% block content %}


<div class="container h-100 d-flex">
  <div class="card my-auto fullw">
    <div class="card-header my-auto text-center">
      <h1>Καλώς ήρθες!</h1>
    </div>
    <div class="card-body padded-card" style="">
      <form method="post" >
        {% csrf_token %}
        <div class="fieldWrapper">
          <div class="form-group">
            <label><i class="fas fa-at"></i> &nbsp; Διεύθυνση email</label>
            <br>
            {% if form.email.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.email.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.email }}
          </div>
        </div>
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="usr"><i class="fas fa-user"></i> &nbsp; Όνομα Χρήστη</label>
            <br>
            {% if form.username.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.username.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.username }}
          </div>
        </div>

        <div class="fieldWrapper">
          <div class="form-group">
            <label for="usr"><i class="fas fa-user"></i> &nbsp; Όνομα</label>
            {{ form.first_name }}
          </div>
        </div>

        <div class="fieldWrapper">
          <div class="form-group">
            <label for="usr"><i class="fas fa-user"></i> &nbsp; Επίθετο</label>
            {{ form.last_name }}
          </div>
        </div>


        <div class="fieldWrapper">
          <div class="form-group">
            <label for="pwd"><i class="fas fa-key"></i> &nbsp; Κωδικός Πρόσβασης</label>
            <br>
            {% if form.password2.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.password2.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.password1 }}
          </div>
          <b><p id="password-strength-text"></p></b>
          <div class="form-group">
            {{ form.password2 }}
          </div>
        </div>
        <div class="fieldWrapper">
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                {{ form.accept }}
                Αποδέχομαι την <a href="/privacy">Πολιτική Απορρήτου</a> και τους <a href="/termsandconditions">Όρους Χρήσης</a>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group text-center fullw">
          <button type="submit" class="btn btn-default fullw"><i class="far fa-envelope-open"></i> &nbsp; Εγγραφή με email</button>
        </div>
      </form>

      <hr>

      <div class="form-group row text-center">
        <div class="col-12 col-lg-6">
          <button type="submit" class="btn btn-default btn-google"><i class="fab fa-google"></i> &nbsp; Εγγραφή με Google</button>
        </div>
        <div class="col-12 col-lg-6">
          <button type="submit" class="btn btn-default btn-facebook"><i class="fab fa-facebook-square"></i> &nbsp; Εγγραφή με Facebook</button>
        </div>
      </div>
    </div>
  </div>
</div>



{% load static %}
<script src="{% static 'js/signup.js' %}"></script>


{% endblock %}
