{% extends 'layout.html' %}

{% block content %}

<div class="container h-100 d-flex">


  <div class="card my-auto fullw">
    <div class="card-header my-auto text-center">
      <h1>Καλώς ήρθες!</h1>
    </div>
    <div class="card-body padded-card" style="">
      <form action="/action_page.php">
        <div class="form-group">
          <label for="email"><i class="fas fa-at"></i> &nbsp; Διεύθυνση email</label>
          <input type="email" placeholder="Εισάγετε το email σας" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="usr"><i class="fas fa-user"></i> &nbsp; Όνομα Χρήστη</label>
          <input type="text" placeholder="Πληκτρολογήστε ένα όνομα χρήστη" class="form-control" id="usr">
        </div>

        <div class="form-group">
          <label for="pwd"><i class="fas fa-key"></i> &nbsp; Κωδικός Πρόσβασης</label>
          <input type="password" placeholder="Πληκτρολογήστε ένα κωδικό" class="form-control" id="pwd">
        </div>

        <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Αποδέχομαι τους <a href="/termsandconditions">Όρους Χρήσης</a>
        </label>
        </div>
      </div>

        <div class="form-group text-center fullw">
          <button type="submit" class="btn btn-default fullw"><i class="far fa-envelope-open"></i> &nbsp; Εγγραφή με email</button>
        </div>

        <hr>

        <div class="form-group row text-center">
          <div class="col-6">
          <button type="submit" class="btn btn-default btn-google"><i class="fab fa-google"></i> &nbsp; Εγγραφή με Google</button>
          </div>

          <div class="col-6">
          <button type="submit" class="btn btn-default btn-facebook"><i class="fab fa-facebook-square"></i> &nbsp; Εγγραφή με Facebook</button>
          </div>
        </div>
      </div>
    </form>




  </div>
</div>

</div>



{% endblock %}
