{% extends 'layout.html' %}

{% block content %}


<div class="container h-100 d-flex">


  <div class="card my-auto fullw">
    <div class="card-header my-auto text-center">
      <h1>Καλώς ήρθες!</h1>
    </div>
    <div class="card-body padded-card" style="">
      <form method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="user"><i class="fas fa-at"></i>&nbsp; Χρήστης</label>
            <br>
            {% if form.user.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.user.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.user }}
          </div>
        </div>
        <div class="fieldWrapper">
          <div class="form-group">
            <label for="pwd"><i class="fas fa-unlock"></i> &nbsp; Κωδικός Πρόσβασης</label>
            <br>
            {% if form.password.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.password.errors  | striptags}}</strong>
            </div>
            {% endif %}
            {{ form.password }}
          </div>
        </div>
        <div class="form-group text-center fullw">
          <button type="submit" class="btn btn-default fullw"><i class="far fa-envelope-open"></i> &nbsp; Σύνδεση </button>
        </div>
      </form>

      <hr>

      
    </div>
  </div>
</div>
{% endblock %}
